{% extends "posts/base.html" %}
{% load urlify %}
{% load crispy_forms_tags %}
{% block head %} {{instance.title}}| {{block.super}} {% endblock head %}
{% block content %}
    <h1>{{title}}</h1><br>
    {% if instance.user.get_full_name %}
    <p>Author: {{ instance.user.get_full_name }}</p>
    {% endif %}
    <br>
    {% if instance.draft %}
      <span style='color:red;'>Draft</span>
    {% endif %}
    <div class="fb-like" data-href="{{ request.build_absolute_uri }}" data-layout="standard" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
    <hr>
      {% if instance.image %}
      <img src="{{ instance.image.url }}" class= "img-responsive" >
      {% endif %}
      <br>
      {{instance.publish}}
      <br>
      <br>
      <div class="content-markdown">{{ instance.content }}</div>
      <hr>
      <div>
      <p class="lead">Comments<p>
        <form method="POST" action="."> {% csrf_token %}
        {{ comment_form|crispy }}
        <br>
        <input type = "submit" value="Post comment" class="btn btn-default">
      </form>
        {% for comment in comments %}
        <blockquote class="blockquote">
            <p>{{comment.content}}</p>
            <footer class="blockquote-footer">by {{comment.user}} {{comment.timestamp|timesince}}</footer>
        </blockquote>
            <hr>
        {% endfor %}
      </div>
      <!-- <div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-numposts="5"></div> -->
      <!-- {{ instance.content|urlify }} -->
      <!-- <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">Facebook
      </a>
    <a href="https://twitter.com/home?status={{ instance.content|urlify }}%20{{ request.build_absolute_uri }}">Twitter
    </a> -->
  {% endblock content%}
