{% extends "posts/base.html" %}
{% load urlify %}
{% block head %} {{instance.title}}| {{block.super}} {% endblock head %}
{% block content %}
    <h1>{{title}}</h1><br>
    {% if instance.user.get_full_name %}
    <p>Author: {{ instance.user.get_full_name }}</p>
    {% endif %}
      {% if instance.image %}
      <img src="{{ instance.image.url }}" class= "img-responsive" >
      {% endif %}
      <br>
      {{instance.updated}}
      <br>
      <br>
      {{instance.content|linebreaks}}
      {{ instance.content|urlify }}
      <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.builld_absolute_uri }}">Facebook
      </a>
    <a href="https://twitter.com/home?status={{ instance.content|urlify }}%20{{ request.builld_absolute_uri }}">Twitter
    </a>
  {% endblock content%}
